body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #FAF8ED;
}

header {
    background-color: #F9B572
}

main {
    padding: 16px;
    margin-bottom: 10px;
}

h1 {
    color: #748E63
}

.two-by-two-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    color: #748E63;
}



footer {
    padding: 24px 0;
    background-color: #99B080;
    position: sticky;
    top: 90%;

}

img {
    height: 200px
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

a:hover {
    color: #FCE09B;
}

a {
    text-decoration: none;
    color: black;
}

tr:nth-child(even) {
    background-color: #F9B572;
}

tbody tr:nth-child(odd) {
    background-color: #99B080;
}
